.simple-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: currentColor;
  line-height: 1;
  user-select: none;
}

.simple-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

